*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,  sans-serif;
}
body{
    height: 700px;
    background: linear-gradient( to right, rgb(39, 28, 243), #ec2f12);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 32px;
    padding: 64px 48px;
}
.title{
    font-size: 48px;
}
hr{
    width: 100%;
    background-color: white;
    height: 5px;
    border-radius: 16px;
    border: none;
}
#timer{
    font-size: 160px;
    font-weight: 700;
}
.button-wrapper{
    display: flex;
    gap: 32px;
}
button{
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
button:hover{
    transform: translateY(-10px);
}
#start{
    background-color: rgb(86, 230, 14);
}
#stop{
    background-color: rgb(246, 25, 25);
}
#reset{
    background-color: rgb(24, 137, 242);
}
